// Variables
@primary-color: var(--primary-color, #0047ba);
@secondary-color: var(--secondary-color, #003a9c);
@link-color: var(--link-color, #0047ba);

@light-color: #fff;
@dark-color: #333;
@background-color: #f9f9f9;
@font-family-base: 'Comfortaa', sans-serif;
@font-weight-bold: 700;
@font-weight-normal: 400;
@transition-ease: 0.3s ease;

@desktop: ~'only screen and (min-width: 960px) and (max-width: 1199px)';
@tablet: ~'only screen and (min-width: 576px) and (max-width: 959px)';
@mobile: ~'only screen and (min-width: 320px) and (max-width: 575px)';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Global styles
body {
    font-family: @font-family-base;
    color: darken(@dark-color, 20%);
    background-color: @background-color;
}

.titulo {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0; /* Inicia en 0 */
        height: 2px;
        background-color: @primary-color;
        animation: underline 1s ease-in-out 1s forwards; /* 'forwards' mantiene el último frame */
    }
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%; /* Termina en 100% */
    }
}

.btn-secondary {
    background-color: @secondary-color !important;
    &:hover {
        filter: brightness(0.9);
    }
}

p {
    font-size: 1rem;
    color: darken(@dark-color, 15%); // Texto más oscuro para mejorar la legibilidad
}
.content {
    min-height: calc(100vh - 400px);
}

// Navbar styles
.navbar {
    background-color: @light-color;
    padding: 15px 0;
    border-bottom: 2px solid lighten(@background-color, 5%);

    .navbar-brand {
        font-size: 1.75rem;
        font-weight: @font-weight-bold;
        color: #333;
        text-decoration: none;
        &-client {
            font-size: 1rem;
            margin-left: 1rem;
        }
    }

    .nav-link {
        color: @dark-color;
        margin-right: 20px;
        font-weight: 500;
        text-decoration: none;
        transition: color @transition-ease, background-color @transition-ease;

        &.active {
            color: @light-color;
            background-color: @primary-color;
            border-radius: 5px;
            padding: 10px 15px;
        }

        &:hover:not(.active) {
            color: @primary-color;
        }
    }
}

// Hero section styles
.hero-section {
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: @light-color;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }

    h1 {
        font-size: 3rem; // Ajustado para mejorar el diseño responsive
        font-weight: @font-weight-bold;
        color: lighten(@light-color, 15%);
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        max-width: 700px; // Más compacto para mejor enfoque
        color: lighten(@light-color, 20%);
        margin: 0 auto 20px;
    }

    .btn-custom {
        background-color: @primary-color;
        color: @light-color;
        padding: 12px 25px; // Ajuste de padding
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: @font-weight-bold;
        transition: background-color @transition-ease;

        @media @mobile {
            width: 90%;
            margin-bottom: 1rem;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }

    .logo-container {
        text-align: center;
        margin-bottom: 40px;

        img {
            max-width: 200px;
            height: auto;
            object-fit: contain;
            background-color: @light-color;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

// Section title styles
.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: @font-weight-bold;
    margin-bottom: 50px;
    color: @dark-color;
}

// Service box styles
.service-box {
    background-color: @light-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
    transition: transform @transition-ease;

    &:hover {
        transform: translateY(-10px);
    }

    i {
        font-size: 2rem;
        color: @secondary-color;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 15px;
        color: @dark-color;
    }

    p {
        font-size: 1rem;
        color: darken(@dark-color, 20%);
        margin-bottom: 0;
    }
}

// Contact section styles
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: @secondary-color;
    @media @mobile {
        grid-template-columns: 1fr;
    }
    .contact-item {
        background-color: @dark-color;
        color: @light-color;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 20px;
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform @transition-ease, background-color @transition-ease;

        &:hover {
            transform: translateY(-10px);
            background-color: @secondary-color;
        }

        i {
            font-size: 2rem;
            margin-bottom: 10px;
            color: @light-color;
        }

        p,
        a {
            margin: 10px 0;
            font-size: 1rem;
            color: @light-color;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            color: lighten(@light-color, 15%);
        }
    }
}

// Footer styles
footer {
    background-color: darken(@dark-color, 10%);
    background: #dfdfdf url(../images/imagenes/demo-branding-agency-bg-01.png) no-repeat center center;
    background-size: cover;
    color: #696969;
    padding: 40px 0;
    text-align: center;

    p {
        margin-bottom: 0;
        color: lighten(@dark-color, 40%); // Texto del footer más claro para contraste
    }

    a {
        color: @primary-color;

        &:hover {
            color: @link-color;
            text-decoration: underline;
        }
    }

    .footer-logo {
        max-width: 160px; // Tamaño de logo ajustado
        margin-bottom: 20px;
    }
}

// Form styles (improving accessibility and focus states)
input,
select,
textarea {
    transition: border-color @transition-ease, box-shadow @transition-ease;
    border: 1px solid darken(@background-color, 10%);

    &:focus {
        border-color: @primary-color;
        box-shadow: 0 0 5px @link-color;
    }
}

// Link hover effect
a {
    transition: all @transition-ease, text-decoration @transition-ease;
    color: @link-color;

    &:hover {
        color: @link-color;
        text-decoration: underline;
    }
}

/* Estilo para los labels de campos con error */
label.is-invalid {
    color: #dc3545; /* Color de error (rojo) */
    font-weight: bold; /* Hacer el texto del label más visible */
}

/* Estilo para el texto de validación que aparece debajo del input */
.invalid-feedback {
    display: block;
    color: #dc3545; /* Mismo color de error que Bootstrap */
    font-size: 0.875rem; /* Tamaño de fuente ligeramente más pequeño */
    margin-top: 0.25rem; /* Espaciado para separar del input */
}

/* Estilo para los inputs que tengan el estado de error */
.form-control.is-invalid,
.select2-container--default .select2-selection--single.is-invalid {
    border-color: #dc3545; /* Cambiar el borde a rojo */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* Agregar sombra roja */
}

/* Para selects de .select2 con estado de error */
.select2-selection.is-invalid {
    border-color: #dc3545; /* Borde rojo para selects de select2 */
}

.canales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-bottom: 4rem;

    &-column {
        flex: 1 1 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        &.margin {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: #fff;
            }
            @media @mobile {
                padding-top: 2rem;
                &::after {
                    width: 70%;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }

        h2,
        h3 {
            font-size: 1rem;
            color: #fff;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1rem;
            color: #fff;
        }
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
            width: 100%;
        }

        .canales-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            background-color: @primary-color;
            color: @light-color;
            padding: 0.75rem 1.5rem;
            border-radius: 50px;
            font-size: 1rem;
            text-decoration: none;
            font-weight: bold;
            transition: all @transition-ease;

            i {
                font-size: 1.25rem;
            }

            &:hover {
                filter: brightness(0.9);
                text-decoration: none;
            }
        }
    }

    .canales-link {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: @primary-color;
        color: @light-color;
        padding: 0.75rem 1.5rem;
        border-radius: 50px;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        transition: all @transition-ease;

        i {
            font-size: 1.25rem;
        }

        &:hover {
            filter: brightness(0.9);
            text-decoration: none;
        }
    }
}
